<h2 class="visually-hidden">Authors</h2>
                                <div class="authors__inner">
                                        <div class="authors__row">
                                                <h3 class="authors__title">Education</h3>
                                                <div class="authors__content">
                                                        <p class="authors__text">I am from Mumbai, India. Since I was a
                                                                teenager, I have been keen on computer technology.
                                                                Following this love, I studied at Mumbai University,
                                                                Department of Information Technology, and graduated from
                                                                it in 2018 with a bachelor’s degree. During my studies,
                                                                I had a part-time job as an editor and copywriter for a
                                                                review site about gambling.</p>
                                                        <p class="authors__text">Progressively, I became interested in
                                                                online casino games. It began during my time at Mumbai
                                                                University when I stumbled upon the slots and table
                                                                games
                                                                and spent countless hours in them. Then, when crash
                                                                games became popular, I focused on them and Aviator game
                                                                in particular.</p>
                                                </div>
                                        </div>

                                        <div class="authors__row">
                                                <h3 class="authors__title">Experience</h3>
                                                <div class="authors__content">
                                                        <p class="authors__text">Besides the working experience of 7
                                                                years
                                                                as a copywriter, editor, and editor-in-chief, I have
                                                                also taken part in some iGaming conventions like Asean
                                                                Gaming Summit 2023 and SIGMA 2023.</p>
                                                        <p class="authors__lead">My working strengths extend to:</p>
                                                        <ul class="list list--bulleted authors__list">
                                                                <li class="list__item">Betting strategies;</li>
                                                                <li class="list__item">Casino analysis;</li>
                                                                <li class="list__item">Responsible gambling.</li>
                                                        </ul>
                                                        <p class="authors__text">I do my best to help you to fill in the
                                                                gaps in your knowledge about gambling. The content I
                                                                produce is packed with valuable insights into the games,
                                                                exciting tips and tricks, and meaningful rules and
                                                                mechanics explanations.</p>

                                                        <div class="authors__social" aria-label="Author social links">
                                                                <a class="authors__social-link" href="#" aria-label="Author profile link">
                                                                        <img class="authors__social-icon" src="/assets/svg/sosial-media/link.svg" width="50" height="50" loading="lazy" alt="">
                                                                </a>
                                                                <a class="authors__social-link" href="#" aria-label="Author Instagram profile">
                                                                        <img class="authors__social-icon" src="/assets/svg/sosial-media/instagram-color.svg" width="50" height="50" loading="lazy" alt="">
                                                                </a>
                                                                <a class="authors__social-link" href="#" aria-label="Author Facebook profile">
                                                                        <img class="authors__social-icon" src="/assets/svg/sosial-media/facebook-color.svg" width="50" height="50" loading="lazy" alt="">
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>