<div class="authors__inner">
                    <div class="authors__row--large">
                        <h2 class="authors__title">Acceptance of Terms</h2>
                        <div class="authors__content">
                            <p class="authors__text">Utilising this slot game platform signifies your acceptance of the
                                terms and conditions outlined here,
                                which include the reading and understanding of all components. Should these terms be
                                unsatisfactory in any form, the
                                services provided should be ceased immediately.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Responsible Gaming</h3>
                        <div class="authors__content">
                            <p class="authors__text">Our efforts focus on maintaining safe and responsible gaming
                                practices. Like all other games, Ganesha Fortune slot games
                                are designed solely for entertainment. Please keep in mind:</p>
                            <ul class="list list--bulleted authors__list">
                                <li class="list__item">Like all other gaming activities, there is a risk of losing
                                    money.</li>
                                <li class="list__item">Always set personal limits and ensure that they are adhered to.
                                </li>
                                <li class="list__item">Gambling should never exceed what you’re willing to lose.</li>
                            </ul>
                            <p class="authors__text">In case of any gambling-related issues, counselling services offer
                                professional help.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Account Security and Responsibility</h3>
                        <div class="authors__content">
                            <p class="authors__text">You are completely responsible for ensuring the:</p>
                            <ul class="list list--bulleted authors__list">
                                <li class="list__item">Maintain your login credentials private in all instances.</li>
                                <li class="list__item">Every action tied to your account.</li>
                                <li class="list__item">Account information is not only valid but also up to date.</li>
                            </ul>
                            <p class="authors__text">Reporting any potential security breaches or unauthorised access
                                should be done promptly.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Game Rules and Fair Play</h3>
                        <div class="authors__content">
                            <p class="authors__text">To guarantee fair competition, Ganesha Fortune utilises RANDOM
                                NUMBER GENERATION BASED TECHNOLOGY. Manipulating the
                                systems or devices to gain an undue advantage, exploiting system weaknesses or otherwise
                                interfering with game mechanics
                                will result in immediate termination of the account alongside legal consequences.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Privacy and Data Protection</h3>
                        <div class="authors__content">
                            <p class="authors__text">Your personal information is processed according to the Indian laws
                                on data protection. Your information is collected,
                                processed, and stored securely. Personal information is not shared with third parties
                                without consent except when
                                mandated by law or regulatory bodies.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Intellectual Property Notice</h3>
                        <div class="authors__content">
                            <p class="authors__text">All content within site, including but not limited to graphics,
                                sound effects, games mechanics, logos and
                                text, are bound by IP laws. You are restricted from reproducing, redistributing,
                                altering, or exploiting for commercial
                                purposes any content without obtaining written approval from us.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Third-party links and services</h3>
                        <div class="authors__content">
                            <p class="authors__text">Our website may include links to other websites and services. We
                                shall not be liable for the content, privacy policies,
                                or the practices employed by the third party. You may navigate to these third party
                                services at your own discretion and risk.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Information accuracy</h3>
                        <div class="authors__content">
                            <p class="authors__text">It is our intention to provide accurate and updated information at
                                all times. However, we do not guarantee all content
                                is devoid of errors or complete. Game policies, payout policies, and other documents are
                                provided as is and are subject
                                to changes.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Limitation of liability</h3>
                        <div class="authors__content">
                            <p class="authors__text">Use of slot games does not give rise to any legal
                                claim as with the utmost law provisions, it greatly
                                limits any direct, indirect, incidental, or consequential losses like but not limited to
                                financial losses, technical
                                malfunctions, or service interruptions.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Adherence Legislation</h3>
                        <div class="authors__content">
                            <p class="authors__text">It is your obligation to ensure that your participation in slot gaming activities is in adherence to all the local,
                            state, and national regulations in India. Any disputes that arise will be settled under Indian law and relevant gaming
                            statutes.</p>
                        </div>
                    </div>

                    <div class="authors__row--large">
                        <h3 class="authors__title">Changes to Provisions</h3>
                        <div class="authors__content">
                            <p class="authors__text">These terms and conditions can be changed at any time without prior notice. Changes will be reflected on this page along
                            with the date of revision. If you continue to use the service after the changes have been made, it is understood that
                            the new terms will be accepted.</p>
                            <p class="authors__text">For any inquiries regarding these Terms and Conditions, get in touch with our dedicated customer support team via the
                            appropriate channels on our platform.</p>
                        </div>
                    </div>
                </div>
