<nav class="casino__menu" aria-label="Section navigation" data-casino-menu>
                    <ul class="casino__menu-list" data-casino-menu-list>

                        <li class="casino__menu-item"><a class="casino__menu-link" href="#bonuses">Bonuses and promo
                                codes</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#details">Details about
                                casino</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#comparison">Comparison</a>
                        </li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#gameplay">Gameplay</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#payments">Payment Methods</a>
                        </li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#characteristics">Characteristics</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#review">Review</a>
                        </li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#pros">Pros and cons</a>
                        </li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#steps">Steps to Gamble</a>
                        </li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#feature">All Feature Buy
                                Slots</a>
                        </li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#level">Level</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#conclusion">Conclusion</a>
                        </li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#other-reviews">Other
                                reviews</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#screenshots">Game
                                Screenshots</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#faq">FAQ</a></li>
                    </ul>

                    <div class="casino__menu-dropdown" data-casino-menu-dropdown hidden aria-hidden="true">
                        <ul class="casino__menu-dropdown-list" data-casino-menu-overflow></ul>
                    </div>
                </nav>

                <div class="bonuses__inner">
                    <h2 class="bonuses__title">Bonuses and<br>promo <img class="bonuses__title-icon" src="/assets/svg/percent.svg" width="60" height="60" loading="lazy" alt=""> <span class="title--accent">codes</span>
                    </h2>
                    <p class="bonuses__description">By making use of exclusive bonus codes, you may
                        increase your initial betting budget for the Aviator game. Because of
                        that, you will be able to take more risks and that might help you walk
                        away with larger sums in the bank.</p>

                    <div class="bonuses__list" aria-label="Bonuses and promo codes cards">
                        <div class="card card--bonus" aria-label="Bonus card 1">
                            <img class="card__logo" src="/assets/images/casino/pari-match.webp" width="170" height="63" loading="lazy" alt="PariMatch">
                            <div class="card__title">PariMatch</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__actions">
                                <button class="btn btn__promo-code" type="button" aria-label="Promo code">
                                    <span class="btn__promo-code-text">FREE30</span>
                                    <span class="btn__promo-code-icon" aria-hidden="true"></span>
                                </button>

                                <a class="btn btn__cta btn__cta--promo" href="#" aria-label="Use promo code">
                                    <span class="btn__cta-text">Use promo
                                        code</span>
                                    <img class="btn__cta-gift" src="/assets/svg/gift.svg" width="50" height="50" loading="lazy" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="card card--bonus" aria-label="Bonus card 2">
                            <img class="card__logo" src="/assets/images/casino/1win.webp" width="170" height="63" loading="lazy" alt="1win">
                            <div class="card__title">1win</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__actions">
                                <button class="btn btn__promo-code" type="button" aria-label="Promo code">
                                    <span class="btn__promo-code-text">FREE30</span>
                                    <span class="btn__promo-code-icon" aria-hidden="true"></span>
                                </button>

                                <a class="btn btn__cta btn__cta--promo" href="#" aria-label="Use promo code">
                                    <span class="btn__cta-text">Use promo
                                        code</span>
                                    <img class="btn__cta-gift" src="/assets/svg/gift.svg" width="50" height="50" loading="lazy" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="card card--bonus" aria-label="Bonus card 3">
                            <img class="card__logo" src="/assets/images/casino/2bet.webp" width="170" height="63" loading="lazy" alt="2bet">
                            <div class="card__title">2bet</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__actions">
                                <button class="btn btn__promo-code" type="button" aria-label="Promo code">
                                    <span class="btn__promo-code-text">FREE30</span>
                                    <span class="btn__promo-code-icon" aria-hidden="true"></span>
                                </button>

                                <a class="btn btn__cta btn__cta--promo" href="#" aria-label="Use promo code">
                                    <span class="btn__cta-text">Use promo
                                        code</span>
                                    <img class="btn__cta-gift" src="/assets/svg/gift.svg" width="50" height="50" loading="lazy" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="text text--limited text--pt20">In this article, we will explore the
                        key features
                        of the
                        Aviator casino game, discuss its gameplay mechanics, user interface, and
                        overall
                        experience.</p>
                </div>
