                                <h2 class="symbols__title">
                                        <span class="title--accent">Casino</span> with demo mode
                                </h2>

                                <p class="casino__description">Before diving into gambling for INR, be sure to test out
                                        the demo Aviator and see what works best for you. Here are the
                                        steps to begin created by our team.</p>

                                <ul class="casino__list" aria-label="Casino list">
                                        <li class="casino__item">
                                                <div class="card">
                                                        <img class="card__logo"
                                                                src="/assets/images/casino/pari-match.webp" width="116"
                                                                height="43" alt="PariMatch">
                                                        <div class="card__title">PariMatch</div>
                                                        <p class="card__subtitle">Description of the site in free form
                                                        </p>

                                                        <ul class="card__features" aria-label="Features">
                                                                <li class="card__feature">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/excellent.svg"
                                                                                width="20" height="20" alt="">
                                                                        <span class="card__feature-text">Образцовая
                                                                                поддержка клиентов</span>
                                                                </li>
                                                                <li class="card__feature">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/excellent.svg"
                                                                                width="20" height="20" alt="">
                                                                        <span class="card__feature-text">Широкий выбор
                                                                                игр казино</span>
                                                                </li>
                                                                <li class="card__feature card__feature--accent">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/bonus.svg" width="20"
                                                                                height="20" alt="">
                                                                        <span class="card__feature-text">100% бонус на
                                                                                ваш депозит</span>
                                                                </li>
                                                        </ul>

                                                        <div class="card__divider" aria-hidden="true"></div>

                                                        <div class="card__footer">
                                                                <a class="btn__cta btn__cta--hero btn__cta--card"
                                                                        href="#play-now">Play now!</a>

                                                                <div class="card__rating" aria-label="Rating">
                                                                        <img class="card__rating-icon"
                                                                                src="/assets/svg/star.svg" width="22"
                                                                                height="22" alt="">
                                                                        <span class="card__rating-value">4.7</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        </li>

                                        <li class="casino__item">
                                                <div class="card">
                                                        <img class="card__logo" src="/assets/images/casino/2bet.webp"
                                                                width="116" height="43" alt="2bet">
                                                        <div class="card__title">PariMatch</div>
                                                        <p class="card__subtitle">Description of the site in free form
                                                        </p>

                                                        <ul class="card__features" aria-label="Features">
                                                                <li class="card__feature">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/excellent.svg"
                                                                                width="20" height="20" alt="">
                                                                        <span class="card__feature-text">Образцовая
                                                                                поддержка клиентов</span>
                                                                </li>
                                                                <li class="card__feature">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/excellent.svg"
                                                                                width="20" height="20" alt="">
                                                                        <span class="card__feature-text">Широкий выбор
                                                                                игр казино</span>
                                                                </li>
                                                                <li class="card__feature card__feature--accent">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/bonus.svg" width="20"
                                                                                height="20" alt="">
                                                                        <span class="card__feature-text">100% бонус на
                                                                                ваш депозит</span>
                                                                </li>
                                                        </ul>

                                                        <div class="card__divider" aria-hidden="true"></div>

                                                        <div class="card__footer">
                                                                <a class="btn__cta btn__cta--hero btn__cta--card"
                                                                        href="#play-now">Play now!</a>

                                                                <div class="card__rating" aria-label="Rating">
                                                                        <img class="card__rating-icon"
                                                                                src="/assets/svg/star.svg" width="22"
                                                                                height="22" alt="">
                                                                        <span class="card__rating-value">4.7</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        </li>

                                        <li class="casino__item">
                                                <div class="card">
                                                        <img class="card__logo" src="/assets/images/casino/1win.webp"
                                                                width="116" height="43" alt="1win">
                                                        <div class="card__title">PariMatch</div>
                                                        <p class="card__subtitle">Description of the site in free form
                                                        </p>

                                                        <ul class="card__features" aria-label="Features">
                                                                <li class="card__feature">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/excellent.svg"
                                                                                width="20" height="20" alt="">
                                                                        <span class="card__feature-text">Образцовая
                                                                                поддержка клиентов</span>
                                                                </li>
                                                                <li class="card__feature">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/excellent.svg"
                                                                                width="20" height="20" alt="">
                                                                        <span class="card__feature-text">Широкий выбор
                                                                                игр казино</span>
                                                                </li>
                                                                <li class="card__feature card__feature--accent">
                                                                        <img class="card__feature-icon"
                                                                                src="/assets/svg/bonus.svg" width="20"
                                                                                height="20" alt="">
                                                                        <span class="card__feature-text">100% бонус на
                                                                                ваш депозит</span>
                                                                </li>
                                                        </ul>

                                                        <div class="card__divider" aria-hidden="true"></div>

                                                        <div class="card__footer">
                                                                <a class="btn__cta btn__cta--hero btn__cta--card"
                                                                        href="#play-now">Play now!</a>

                                                                <div class="card__rating" aria-label="Rating">
                                                                        <img class="card__rating-icon"
                                                                                src="/assets/svg/star.svg" width="22"
                                                                                height="22" alt="">
                                                                        <span class="card__rating-value">4.7</span>
                                                                </div>
                                                        </div>
                                                </div>
                                        </li>
                                </ul>
                                <p class="casino__description text--pt20">In this article, we will explore the key
                                        features of the
                                        Aviator casino game, discuss its gameplay mechanics, user interface, and overall
                                        experience.</p>
