                <nav class="casino__menu" aria-label="Section navigation" data-casino-menu>
                    <ul class="casino__menu-list" data-casino-menu-list>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#casino">Where to play</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link"
                                href="#characteristics">Characteristics</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#review">Review</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#symbols">Symbols</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#gameplay">Gameplay</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#rtp">RTP</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#bonuses">Bonuses</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#level">Level</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#conclusion">Conclusion</a>
                        </li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#other-reviews">Other
                                reviews</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#screenshots">Game
                                Screenshots</a></li>
                        <li class="casino__menu-item"><a class="casino__menu-link" href="#faq">FAQ</a></li>
                    </ul>

                    <div class="casino__menu-dropdown" data-casino-menu-dropdown hidden aria-hidden="true">
                        <ul class="casino__menu-dropdown-list" data-casino-menu-overflow></ul>
                    </div>
                </nav>
                <h2 class="casino__title">
                    <span class="casino__title-top">Where <span class="casino__title-triangle"
                            aria-hidden="true"></span> to play</span>
                    <span class="casino__title-bottom title--accent">The Aviator Game?</span>
                </h2>

                <p class="casino__description">In this article, we will explore the key features of the
                    Aviator casino game, discuss its gameplay mechanics, user interface, and overall
                    experience.</p>

                <ul class="casino__list" aria-label="Casino list">
                    <li class="casino__item">
                        <div class="card">
                            <img class="card__logo" src="/assets/images/casino/pari-match.webp" width="116" height="43"
                                alt="PariMatch">
                            <div class="card__title">PariMatch</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <ul class="card__features" aria-label="Features">
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Образцовая
                                        поддержка клиентов</span>
                                </li>
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Широкий выбор
                                        игр казино</span>
                                </li>
                                <li class="card__feature card__feature--accent">
                                    <img class="card__feature-icon" src="/assets/svg/bonus.svg" width="20" height="20"
                                        alt="">
                                    <span class="card__feature-text">100% бонус на
                                        ваш депозит</span>
                                </li>
                            </ul>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__footer">
                                <a class="btn__cta btn__cta--hero btn__cta--card" href="#play-now">Play now!</a>

                                <div class="card__rating" aria-label="Rating">
                                    <img class="card__rating-icon" src="/assets/svg/star.svg" width="22" height="22"
                                        alt="">
                                    <span class="card__rating-value">4.7</span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="casino__item">
                        <div class="card card--gold">
                            <img class="card__logo" src="/assets/images/casino/1win.webp" width="116" height="43"
                                alt="1win">
                            <div class="card__title">PariMatch</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <ul class="card__features" aria-label="Features">
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Образцовая
                                        поддержка клиентов</span>
                                </li>
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Широкий выбор
                                        игр казино</span>
                                </li>
                                <li class="card__feature card__feature--accent">
                                    <img class="card__feature-icon" src="/assets/svg/bonus.svg" width="20" height="20"
                                        alt="">
                                    <span class="card__feature-text">100% бонус на
                                        ваш депозит</span>
                                </li>
                            </ul>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__footer">
                                <a class="btn__cta btn__cta--hero btn__cta--card" href="#play-now">Play now!</a>

                                <div class="card__rating" aria-label="Rating">
                                    <img class="card__rating-icon" src="/assets/svg/star.svg" width="22" height="22"
                                        alt="">
                                    <span class="card__rating-value">4.7</span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="casino__item">
                        <div class="card">
                            <img class="card__logo" src="/assets/images/casino/2bet.webp" width="116" height="43"
                                alt="2bet">
                            <div class="card__title">PariMatch</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <ul class="card__features" aria-label="Features">
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Образцовая
                                        поддержка клиентов</span>
                                </li>
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Широкий выбор
                                        игр казино</span>
                                </li>
                                <li class="card__feature card__feature--accent">
                                    <img class="card__feature-icon" src="/assets/svg/bonus.svg" width="20" height="20"
                                        alt="">
                                    <span class="card__feature-text">100% бонус на
                                        ваш депозит</span>
                                </li>
                            </ul>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__footer">
                                <a class="btn__cta btn__cta--hero btn__cta--card" href="#play-now">Play now!</a>

                                <div class="card__rating" aria-label="Rating">
                                    <img class="card__rating-icon" src="/assets/svg/star.svg" width="22" height="22"
                                        alt="">
                                    <span class="card__rating-value">4.7</span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="casino__item">
                        <div class="card">
                            <img class="card__logo" src="/assets/images/casino/pari-match.webp" width="116" height="43"
                                alt="PariMatch">
                            <div class="card__title">PariMatch</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <ul class="card__features" aria-label="Features">
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Образцовая
                                        поддержка клиентов</span>
                                </li>
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Широкий выбор
                                        игр казино</span>
                                </li>
                                <li class="card__feature card__feature--accent">
                                    <img class="card__feature-icon" src="/assets/svg/bonus.svg" width="20" height="20"
                                        alt="">
                                    <span class="card__feature-text">100% бонус на
                                        ваш депозит</span>
                                </li>
                            </ul>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__footer">
                                <a class="btn__cta btn__cta--hero btn__cta--card" href="#play-now">Play now!</a>

                                <div class="card__rating" aria-label="Rating">
                                    <img class="card__rating-icon" src="/assets/svg/star.svg" width="22" height="22"
                                        alt="">
                                    <span class="card__rating-value">4.7</span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="casino__item">
                        <div class="card">
                            <img class="card__logo" src="/assets/images/casino/1win.webp" width="116" height="43"
                                alt="1win">
                            <div class="card__title">PariMatch</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <ul class="card__features" aria-label="Features">
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Образцовая
                                        поддержка клиентов</span>
                                </li>
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Широкий выбор
                                        игр казино</span>
                                </li>
                                <li class="card__feature card__feature--accent">
                                    <img class="card__feature-icon" src="/assets/svg/bonus.svg" width="20" height="20"
                                        alt="">
                                    <span class="card__feature-text">100% бонус на
                                        ваш депозит</span>
                                </li>
                            </ul>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__footer">
                                <a class="btn__cta btn__cta--hero btn__cta--card" href="#play-now">Play now!</a>

                                <div class="card__rating" aria-label="Rating">
                                    <img class="card__rating-icon" src="/assets/svg/star.svg" width="22" height="22"
                                        alt="">
                                    <span class="card__rating-value">4.7</span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="casino__item">
                        <div class="card">
                            <img class="card__logo" src="/assets/images/casino/2bet.webp" width="116" height="43"
                                alt="2bet">
                            <div class="card__title">PariMatch</div>
                            <p class="card__subtitle">Description of the site in free form
                            </p>

                            <ul class="card__features" aria-label="Features">
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Образцовая
                                        поддержка клиентов</span>
                                </li>
                                <li class="card__feature">
                                    <img class="card__feature-icon" src="/assets/svg/excellent.svg" width="20"
                                        height="20" alt="">
                                    <span class="card__feature-text">Широкий выбор
                                        игр казино</span>
                                </li>
                                <li class="card__feature card__feature--accent">
                                    <img class="card__feature-icon" src="/assets/svg/bonus.svg" width="20" height="20"
                                        alt="">
                                    <span class="card__feature-text">100% бонус на
                                        ваш депозит</span>
                                </li>
                            </ul>

                            <div class="card__divider" aria-hidden="true"></div>

                            <div class="card__footer">
                                <a class="btn__cta btn__cta--hero btn__cta--card" href="#play-now">Play now!</a>

                                <div class="card__rating" aria-label="Rating">
                                    <img class="card__rating-icon" src="/assets/svg/star.svg" width="22" height="22"
                                        alt="">
                                    <span class="card__rating-value">4.7</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <p class="text text--limited text--pt20">In this article, we will explore the key
                    features of the
                    Aviator casino game, discuss its gameplay mechanics, user interface, and overall
                    experience.</p>
