                <div class="characteristics__inner">
                    <h2 class="characteristics__title">
                        <span class="characteristics__title-top">The Basic
                            Characteristics</span>
                        <span class="characteristics__title-bottom title--accent">of The Aviator
                            Game</span>
                    </h2>

                    <p class="characteristics__description">In this article, we will explore the key
                        features of the Aviator casino game, discuss its gameplay mechanics,
                        user interface, and overall experience.</p>

                    <div class="characteristics__list" aria-label="The basic characteristics list">
                        <div class="characteristics__card" role="group" aria-label="Characteristics group 1">
                            <table class="characteristics__rows">
                                <tbody>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/pencil.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">Official
                                                    Title</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Aviator</td>
                                    </tr>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/cubes.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">RTP</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            97%</td>
                                    </tr>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/chart.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">Volatility</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Medium</td>
                                    </tr>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/airplane.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">Theme</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Aviation</td>
                                    </tr>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/code.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">Work
                                                    Algorithm</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Provably Fair</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="characteristics__card" role="group" aria-label="Characteristics group 2">
                            <table class="characteristics__rows">
                                <tbody>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/folder-search.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">Results
                                                    History</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Accessible for everyone</td>
                                    </tr>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/dollar.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">INR
                                                    support</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Yes</td>
                                    </tr>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/management.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">Trial
                                                    Mode</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Availability depends on the
                                            casino</td>
                                    </tr>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/live-chat.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">Live
                                                    Chat</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Yes (not available for demo
                                            gaming)</td>
                                    </tr>
                                    <tr class="characteristics__row">
                                        <th class="characteristics__cell characteristics__cell--heading" scope="row">
                                            <div class="characteristics__row-heading">
                                                <span class="characteristics__icon-wrapper" aria-hidden="true">
                                                    <img class="characteristics__icon"
                                                        src="/assets/svg/characteristics/star.svg" width="22"
                                                        height="22" alt="">
                                                </span>
                                                <span class="characteristics__label">Features</span>
                                            </div>
                                        </th>
                                        <td class="characteristics__cell characteristics__value">
                                            Auto bet, auto cash-out, live
                                            statistics</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <p class="text text--limited">In this article, we will explore the key features of the
                    Aviator casino game, discuss its gameplay mechanics, user interface, and overall
                    experience.</p>
