<header class="header" id="header">
    <div class="header__inner">
        <div class="header__logo">
            <a class="header__logo-wrapper" href="/" aria-label="To the main page">
                <img src="/assets/images/logo/logo.webp" width="141" height="41" alt="Aviator">
            </a>
        </div>

        <nav class="header__nav menu" aria-label="Main navigation">
            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="app.html">App</a></li>
                <li class="menu__item"><a class="menu__link" href="demo.html">Demo</a></li>
                <li class="menu__item"><a class="menu__link" href="tips.html">Tips</a></li>
                <li class="menu__item"><a class="menu__link" href="bonuses.html">Bonuses</a></li>
                <li class="menu__item"><a class="menu__link" href="reviews.html">Reviews</a></li>
                <li class="menu__item"><a class="menu__link" href="contact-us.html">Contact Us</a></li>
            </ul>

            <a class="btn__cta" href="#play-now">Play now!</a>
        </nav>
    </div>
</header>

<nav class="breadcrumbs-container" aria-label="Breadcrumb">
    <div class="breadcrumbs">
        <a class="breadcrumbs__item" href="/">Home page</a>
        <span class="breadcrumbs__separator" aria-hidden="true">→</span>
        <span class="breadcrumbs__item breadcrumbs__item--active" aria-current="page">Contact Us</span>
    </div>
</nav>

<div class="hero__inner">
    <div class="hero__content">
        <div class="hero__text">
            <h1 class="hero__title">Contact Us</h1>
        </div>
    </div>
</div>
