<header class="header" id="header">
    <div class="header__inner">
        <div class="header__logo">
            <a class="header__logo-wrapper" href="/" aria-label="To the main page">
                <img src="/assets/images/logo/logo.webp" width="141" height="41" alt="Aviator">
            </a>
        </div>

        <nav class="header__nav menu" aria-label="Main navigation">
            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="app.html">App</a></li>
                <li class="menu__item"><a class="menu__link" href="demo.html">Demo</a></li>
                <li class="menu__item"><a class="menu__link" href="tips.html">Tips</a></li>
                <li class="menu__item"><a class="menu__link" href="bonuses.html">Bonuses</a></li>
                <li class="menu__item"><a class="menu__link" href="reviews.html">Reviews</a></li>
                <li class="menu__item"><a class="menu__link" href="contact-us.html">Contact Us</a></li>
            </ul>

            <a class="btn__cta" href="#play-now">Play now!</a>
        </nav>
    </div>
</header>

<div class="hero__inner">
    <div class="hero__content">
        <div class="hero__text">
            <h1 class="hero__title">Aviator Game — Play for Real Money</h1>
            <p class="hero__description">Play Aviator Game — a thrilling legal online game with a maximum win of 1000x your bet.</p>
        </div>

        <a class="btn__cta btn__cta--hero" href="#play-now">Play now!</a>
    </div>

    <div class="hero__media">
        <img class="hero__image" src="/assets/images/hero/aviator.webp" width="560" height="582" alt="Aviator">
    </div>
</div>
