<div class="level__inner">
                    <div class="level__content">
                        <h2 class="level__title">
                            <span class="level__title-top">Second</span>
                            <span class="level__title-bottom">Level Header</span>
                        </h2>

                        <p class="level__description">In this article, we will explore the key
                            features of the Aviator
                            casino game.</p>

                        <h3 class="level__subtitle">
                            Gameplay Mechanics
                        </h3>

                        <p class="level__accent">In this article, we will explore the key
                            features of the Aviator
                            casino game, discuss its gameplay mechanics.</p>
                        <h4 class="level__subheading">
                            List Gameplay
                        </h4>

                        <ul class="list list--bulleted" aria-label="Gameplay bullet list">
                            <li class="list__item">We will explore the key features of the
                                Aviator</li>
                            <li class="list__item">Casino game, discuss its gameplay
                                mechanics</li>
                            <li class="list__item">User interface and overall experience
                            </li>
                        </ul>

                        <h4 class="level__subheading">
                            Gameplay List Numbered
                        </h4>

                        <ol class="list list--ordered" aria-label="Gameplay numbered list">
                            <li class="list__item">We will explore the key features of the
                                Aviator</li>
                            <li class="list__item">Casino game, discuss its gameplay
                                mechanics</li>
                            <li class="list__item">User interface and overall experience
                            </li>
                        </ol>

                        <h4 class="level__subheading">
                            Gameplay Table
                        </h4>

                        <table class="table" aria-label="Gameplay table">
                            <tbody class="table__body">
                                <tr class="table__row">
                                    <th class="table__cell table__cell--label" scope="row"><span class="table__label">Release
                                            Date</span></th>
                                    <td class="table__cell table__cell--value"><span class="table__value">December
                                            2020</span></td>
                                </tr>
                                <tr class="table__row">
                                    <th class="table__cell table__cell--label" scope="row"><span class="table__label">December</span>
                                    </th>
                                    <td class="table__cell table__cell--value"><span class="table__value">Video
                                            Slot</span></td>
                                </tr>
                                <tr class="table__row">
                                    <th class="table__cell table__cell--label" scope="row"><span class="table__label">Game
                                            Type</span></th>
                                    <td class="table__cell table__cell--value"><span class="table__value">Underwater
                                            World, Ocean, Fish</span></td>
                                </tr>
                                <tr class="table__row">
                                    <th class="table__cell table__cell--label" scope="row"><span class="table__label">Design</span>
                                    </th>
                                    <td class="table__cell table__cell--value"><span class="table__value">5</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <figure class="level__media">
                        <img class="level__image" src="/assets/images/phone-aviator.webp" width="443" height="428" loading="lazy" alt="Aviator game interface on a phone">
                        <figcaption class="level__caption">Description Level Image</figcaption>
                    </figure>
                </div>