                <div class="review__inner">
                    <div class="review__content">
                        <h2 class="review__title">
                            <span class="review__title-top">The Aviator</span>
                            <span class="review__title-bottom title--accent">Game
                                Review</span>
                        </h2>

                        <p class="review__description">In this article, we will explore the key
                            features of the Aviator casino game, discuss its gameplay
                            mechanics, user interface, and overall experience.</p>

                        <p class="review__accent">In this article, we will explore the key
                            features of the Aviator casino game, discuss its gameplay
                            mechanics, user interface, and overall experience.</p>
                    </div>

                    <figure class="review__media" aria-hidden="true">
                        <img class="review__image" src="/assets/images/phone-aviator.webp" width="443" height="428"
                            loading="lazy" alt="">
                        <figcaption class="level__caption">Description Level Image</figcaption>
                    </figure>

                </div>
