                <div class="rtp__card">
                    <div class="rtp__inner">
                        <div class="rtp__content">
                            <h2 class="rtp__title">What Is <span class="title--accent">Aviator RTP</span>
                            </h2>

                            <p class="rtp__description">Return to Player (RTP for short) is
                                a mathematical value that indicates what proportion of
                                bets will be repaid to the player over time. The Aviator
                                game has a 97% RTP, meaning that for every 2,000 INR
                                spent, you can expect to get a payout of 1,940 INR.
                                Remember that this value cannot be true for everyone or
                                within a specific timeframe. The calculations apply to
                                long-term gambling; moreover, it is about all players.
                            </p>
                        </div>

                        <figure class="rtp__media" aria-hidden="true">
                            <img class="rtp__badge" src="/assets/images/rtp/rtp.webp" width="211" height="207"
                                loading="lazy" alt="" aria-hidden="true">
                            <img class="rtp__image" src="/assets/images/phone-aviator.webp" width="518" height="500"
                                loading="lazy" alt="">
                            <figcaption class="level__caption">Description Level Image
                            </figcaption>
                        </figure>
                    </div>
                </div>
