<div class="sitemap__inner">
                                        <div class="sitemap__list">
                                                <div class="sitemap__item">
                                                        <a class="sitemap__link" href="/">Home</a>
                                                </div>

                                                <div class="sitemap__item">
                                                        <a class="sitemap__link" href="app.html">Download App</a>
                                                </div>

                                                <div class="sitemap__item sitemap__item--expanded">
                                                        <div class="sitemap__link">About Us</div>
                                                        <div class="sitemap__sublist">
                                                                <a class="sitemap__sublink" href="#">⋅ Responsible
                                                                        Gambling</a>
                                                                <a class="sitemap__sublink" href="#">⋅ Terms and
                                                                        Conditions</a>
                                                                <a class="sitemap__sublink" href="#">⋅ Responsible</a>
                                                                <a class="sitemap__sublink" href="#">⋅ Terms</a>
                                                        </div>
                                                </div>

                                                <div class="sitemap__item">
                                                        <a class="sitemap__link" href="#">Cookie Policy</a>
                                                </div>

                                                <div class="sitemap__item sitemap__item--expanded">
                                                        <div class="sitemap__link">Privacy Policy</div>
                                                        <div class="sitemap__sublist">
                                                                <a class="sitemap__sublink" href="#">⋅ Responsible
                                                                        Gambling</a>
                                                                <a class="sitemap__sublink" href="#">⋅ Terms and
                                                                        Conditions</a>
                                                                <a class="sitemap__sublink" href="#">⋅ Responsible</a>
                                                        </div>
                                                </div>

                                                <div class="sitemap__item">
                                                        <a class="sitemap__link" href="#">Responsible Gambling</a>
                                                </div>

                                                <div class="sitemap__item">
                                                        <a class="sitemap__link" href="#">Terms and Conditions</a>
                                                </div>

                                                <div class="sitemap__item">
                                                        <a class="sitemap__link" href="#">Sportybet</a>
                                                </div>

                                                <div class="sitemap__item">
                                                        <a class="sitemap__link" href="#">Betway</a>
                                                </div>

                                                <div class="sitemap__item">
                                                        <a class="sitemap__link" href="#">Betfox</a>
                                                </div>
                                        </div>
                                </div>