                                <div class="demo__inner">
                                        <div class="steps__inner">
                                                <h2 class="steps__title"><span class="title--accent">How to Play</span>
                                                        Aviator
                                                        Demo
                                                </h2>
                                                <p class="steps__description">Before diving into gambling for INR, be
                                                        sure to
                                                        test out the demo Aviator and see what works best for you. Here
                                                        are the
                                                        steps to begin created by our team.</p>

                                                <div class="steps__list" aria-label="Steps cards">
                                                        <div class="steps__card" aria-label="Step 1">
                                                                <img class="steps__card-image"
                                                                        src="/assets/images/steps/step.webp" width="408"
                                                                        height="171" loading="lazy" alt="">
                                                                <div class="steps__card-content">
                                                                        <span class="steps__card-step">Step 1</span>
                                                                        <div class="steps__card-title">Choose An Online
                                                                                Casino
                                                                        </div>
                                                                        <p class="steps__card-description">Find a
                                                                                trustworthy
                                                                                online casino that hosts Aviator to
                                                                                ensure
                                                                                pleasant gambling. You need to pick a
                                                                                gambling
                                                                                site that has all the necessary.</p>
                                                                </div>
                                                        </div>

                                                        <div class="steps__card" aria-label="Step 2">
                                                                <img class="steps__card-image"
                                                                        src="/assets/images/steps/step.webp" width="408"
                                                                        height="171" loading="lazy" alt="">
                                                                <div class="steps__card-content">
                                                                        <span class="steps__card-step">Step 2</span>
                                                                        <div class="steps__card-title">Sign Up for An
                                                                                Account
                                                                                and Make a Deposit</div>
                                                                        <p class="steps__card-description">Find a
                                                                                trustworthy
                                                                                online casino that hosts Aviator to
                                                                                ensure
                                                                                pleasant gambling. You need to pick a
                                                                                gambling
                                                                                site that has all the necessary.</p>
                                                                </div>
                                                        </div>

                                                        <div class="steps__card" aria-label="Step 3">
                                                                <img class="steps__card-image"
                                                                        src="/assets/images/steps/step.webp" width="408"
                                                                        height="171" loading="lazy" alt="">
                                                                <div class="steps__card-content">
                                                                        <span class="steps__card-step">Step 3</span>
                                                                        <div class="steps__card-title">Place a Bet</div>
                                                                        <p class="steps__card-description">Find a
                                                                                trustworthy
                                                                                online casino that hosts Aviator to
                                                                                ensure
                                                                                pleasant gambling. You need to pick a
                                                                                gambling
                                                                                site that has.</p>
                                                                </div>
                                                        </div>

                                                        <div class="steps__card" aria-label="Step 4">
                                                                <img class="steps__card-image"
                                                                        src="/assets/images/steps/step.webp" width="408"
                                                                        height="171" loading="lazy" alt="">
                                                                <div class="steps__card-content">
                                                                        <span class="steps__card-step">Step 4</span>
                                                                        <div class="steps__card-title">Choose An Online
                                                                                Casino
                                                                        </div>
                                                                        <p class="steps__card-description">Find a
                                                                                trustworthy
                                                                                online casino that hosts Aviator to
                                                                                ensure
                                                                                pleasant gambling. You need to pick a
                                                                                gambling
                                                                                site that has all the.</p>
                                                                </div>
                                                        </div>

                                                        <div class="steps__card" aria-label="Step 5">
                                                                <img class="steps__card-image"
                                                                        src="/assets/images/steps/step.webp" width="408"
                                                                        height="171" loading="lazy" alt="">
                                                                <div class="steps__card-content">
                                                                        <span class="steps__card-step">Step 5</span>
                                                                        <div class="steps__card-title">Sign Up for An
                                                                                Account
                                                                                and Make a Deposit</div>
                                                                        <p class="steps__card-description">Find a
                                                                                trustworthy
                                                                                online casino that hosts Aviator to
                                                                                ensure
                                                                                pleasant gambling.</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <p class="text text--limited">In this article, we will explore the key features
                                                of the
                                                Aviator casino game, discuss its gameplay mechanics, user interface, and
                                                overall
                                                experience.</p>
                                </div>
